@using Hippra.Models.SQL
@using Hippra.Models.POCO
@using Hippra.Pages.Common
@using Hippra.Services
@using Hippra.Pages.FTDesign.Features
@using Hippra.Models.Enums
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@using System.Security.Claims
@*@inject SignInManager<AppUser> SignInManager
	@inject UserManager<AppUser> UserManager*@
@inject IOptions<AppSettings> settings
@inject HippraService hService
@inject IJSRuntime JSRuntime
@inject ProfileService pService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject CommonService commonService;

<section class="case-comment">
    <div class="case-comment-form">
        <EditForm Model="@newComment" OnValidSubmit="@AddComment" FormName="AddCommentForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="comment-form-box">
                <input type="text" placeholder="Write a Comment" @bind="@newComment.Comment" required></input>
                <button type="submit">Comment</button>
            </div>
            <div class="border">
                <CmtImgUpload @bind-fileName="fileName" @bind-imgUrl="imgUrl" @bind-isSubmitted="isSubmitted"></CmtImgUpload>
            </div>
        </EditForm>
    </div>
    <div class="case-comments">
        @if (dataReady && CommentList != null)
        {
            @foreach (var c in CommentList)
            {
                <div class="case-comment-item">
                    <div class="comment-author">
                        @if (c.User != null)
                        {
                            <img src="@c.User.ProfileUrl" alt="@c.User.FirstName">
                        }
                        else
                        {
                            <img src="/img/hippra/blank-profile.png" />
                        }
                    </div>
                    <div class="comment-info">
                        <h6>@c.LastUpdatedDate</h6>
                        <p> @c.Comment</p>
                        @if (!string.IsNullOrWhiteSpace(c.imgUrl))
                        {
                            <label class="label-img">
                                <input type="checkbox">
                                <img id="caseImg" src="@c.imgUrl" width="20%" height="20%" />
                            </label>
                        }
                    </div>
                </div>
            }
        }

    </div>
</section>

@code {
    [Parameter]
    public int caseId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    public List<CaseComment> CommentList { get; set; }
    [Parameter]
    public bool isOpened { get; set; }
    private CaseComment newComment = new CaseComment();
    private int EditThis = -1;
    private string fileName;
    private string imgUrl;
    private bool isSubmitted;
    private string[] imgUrls;
    private Case caseInfo = new Case();
    private int lastHistoryID = -1;
    private bool dataReady = false;
    private int userId { get; set; }

    protected override async Task OnInitializedAsync()
    {

        caseInfo = await hService.GetCase(caseId);
        CommentList = await hService.GetCommentsNoTracking(caseId);

        this.StateHasChanged();
        dataReady = true;
        // OpenComment();
    }

    public async Task DeleteComment(CaseComment c)
    {

        isSubmitted = false;


       
            await hService.DeleteComment(c.ID);

            isSubmitted = true;

        CommentList = await hService.GetCommentsNoTracking(caseId);

        await commonService.addToHistoryComment("deleted a comment on", caseInfo);
        await commonService.addNotification(caseInfo);
        this.StateHasChanged();
    }
    public async Task DeleteFile(CaseComment c)
    {
        c.imgUrl = "";
    }

    private async Task AddComment()
    {
        isSubmitted = false;
        CaseComment addComment = new CaseComment();

        await hService.AddComment(caseId, newComment.Comment, imgUrl);

        isSubmitted = true;

        newComment.Comment = "";
        CommentList = await hService.GetCommentsNoTracking(caseId);

        imgUrl = "";
        isOpened = true;
        await commonService.addToHistoryComment("added a comment on", caseInfo);
        await commonService.addNotification(caseInfo);
        this.StateHasChanged();
    }

}
