@page "/viewcase/{caseId:int}"
@using System.ComponentModel.DataAnnotations
@using Hippra.Models.DTO
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Mvc.Rendering;
@using Hippra.Models.FTDesign
@using Hippra.Services
@using Hippra.Models.SQL
@using Hippra.Models.Enums
@using Hippra.Extensions
@using Hippra.Pages.Common
@using Hippra.Pages.FTDesign.Features
@using Hippra.Pages.FTDesign
@using Hippra.Pages.Home
@using Hippra.Pages.MCase
@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using static Hippra.Components.Cases
@using static Hippra.Components.NewComments
@inject IHttpContextAccessor httpContextAccessor
@inject IJSRuntime JSRuntime
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject ProfileService pService
@inject HippraService hService
@inject IAuthorizationService AuthorizationService

<div class="case-layout">
    <div class="case-top">
        <div class="case-top-action">
            <FTBackBtn BackTitle="Back" UseRedirect="false"></FTBackBtn>
        </div>
    </div>
    @if (dataReady)
    {
        <section class="case-content no-pad">
            <div class="case-content-heading">
                <h3>
                    @pCase.Topic
                </h3>

                <div class="profile-tags">
                    <ul>
                        @if (pCase.Type == CaseType.ClinicalKnowledge)
                        {
                            <li class="knowledge-sharing-case">
                                Clinical Knowledge Sharing Case
                            </li>
                        }
                        @if (pCase.Type == CaseType.AskForHelp)
                        {
                            <li class="ask-for-help-case">Ask For Help Case</li>
                        }
                        @if (pCase.Tags != null)
                        {
                            @foreach (var tag in @pCase.Tags)
                            {
                                <li><a @onclick="(e => { searchCasesContainTag(tag.Tag.Name); })">@tag.Tag.Name</a></li>
                            }
                        }
                        @*          <li>Diseases &amp; Disorders of the Blood</li>
                    <li>Immunologic Disorders</li> *@
                    </ul>
                </div>
            </div>
            <div class="case-content-meta">
                <div class="case-profile">
                    <img src="@pCase.User.ProfileUrl" alt="">
                    <div class="case-profile-info">
                        <div>
                            <h4><a href="/PersonalPage/@pCase.User.Id">@pCase.User.FullName</a></h4>
                            <p class="color-green">Follow</p>
                        </div>

                        <div class="case-content-date">
                            <p>@pCase.PosterSpecialty</p>
                            <p>Last Updated: @pCase.DateLastUpdated.ToShortDateString()</p>
                        </div>
                    </div>
                </div>

                <!----------------------------------------------------------------------Edit - Start  -->

                <div class="case-content-actions">
                    @if (isOwner)
                    {
                        <button>
                            <img src="/frontend/Dashboard/img/icons/new-edit.svg" alt="">
                            <span>Edit</span>
                        </button>
                    }
                    else
                    {
                        <button>
                            <img src="/frontend//Dashboard/img/icons/thumbs-up-hollow.svg" alt="">
                            <span>Like</span>
                        </button>
                        <button>
                            <img src="/frontend/Dashboard/img/icons/comment.svg" alt="">
                            <span>Respond</span>
                        </button>
                    }
                </div>
                <!----------------------------------------------------------------------Edit - End  -->
            </div>
            <div class="case-main-content">
                <div class="case-main-left">
                    <div class="case-patient">
                        <div class="case-patient-info">
                            <h4>Patient Information:</h4>
                            <ul>
                                <!----------------------------------------------------------------------Edit - Start  -->
                                <li>
                                    <span>Age:</span> <span class="light-text"> @pCase.PatientAge </span>
                                </li>
                                <li>
                                    <span>Gender:</span>
                                    <span class="light-text"> @pCase.Gender </span>
                                </li>
                                <li>
                                    <span>Race:</span>
                                    <span class="light-text"> @pCase.Race </span>
                                </li>
                                <li>
                                    <span>Ethnicity:</span>
                                    <span class="light-text">
                                        @pCase.Ethnicity
                                    </span>
                                </li>
                                <!----------------------------------------------------------------------Edit - End  -->
                            </ul>
                        </div>
                        <div class="case-patient-lab">
                            <h6>Lab Values:</h6>
                            <p>
                                @pCase.LabValues
                            </p>
                        </div>
                    </div>
                </div>
                <div class="case-main-right">
                    <div class="case-informations">
                        <div class="case-info-title">
                            <h4>Case Overview</h4>
                            <hr>
                        </div>
                        <div class="case-info-desc">
                            <p>
                                @((MarkupString)@pCase.Description)
                            </p>
                        </div>
                    </div>
                    <div class="case-informations">
                        <div class="case-info-title">
                            <h4>Current Stage of Disease</h4>
                            <hr>
                        </div>
                        <div class="case-info-desc">
                            <p>
                                @pCase.CurrentStageOfDisease
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="case-tabs">
            <div class="case-tab-top">
                <div class="case-tab-left">
                    <button class="case-tab-btn @(activeTab==1?"active":"")" @onclick="()=>ToggleTab(1)" data-target="tab-case-one">
                        Current Treatment Administered
                    </button>
                </div>
                <div class="case-tab-right">
                    <button class="case-tab-btn @(activeTab==2?"active":"")" @onclick="()=>ToggleTab(2)" data-target="tab-case-two">
                        Treatment Outcomes
                    </button>
                </div>
            </div>
            <!-- Current Treatment Administered Content -->
            <div class="case-tab-content tab-case-one @(activeTab==1?"active":"")">
                <p>
                   @pCase.CurrentTreatmentAdministered
                </p>
            </div>
            <!--  Treatment Outcomes Content -->
            <div class="case-tab-content tab-case-two @(activeTab==1?"active":"")">
                <p>
                    @pCase.TreatmentOutcomes
                </p>
            </div>
        </section>
    }

    @if (dataReady)
    {
        <NewComments caseId="@pCase.ID" isOpened="true" />
    }
</div>

@code {
    [Parameter]
    public int caseId { get; set; } = -1;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private AuthenticationState authState { get; set; }
    private ClaimsPrincipal user { get; set; }
    @*private AppUser userInfo { get; set; } = new AppUser();*@

    private bool hasError { get; set; } = false;
    private int status { get; set; } = 0;

    private bool isOwner { get; set; } = false;
    private string returnUrl { get; set; } = "/";

    private CaseViewModel pCase { get; set; } = new CaseViewModel();

    private int activeTab { get; set; } = 1;
    private string debug { get; set; } = "";

    private string[] imgUrls;

    private bool dataReady = false;
    private string userId { get; set; } = "";


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //if (firstRender)
        //{
        //   await JSRuntime.InvokeVoidAsync("handlePageScrollable");
        // await JSRuntime.InvokeVoidAsync("InitCasePage");
        //}
    }

    protected override async Task OnInitializedAsync()
    {
        authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            try
            {
                userId = user.Claims.FirstOrDefault(s => s.Type == "UserId")?.Value;
            }
            catch (FormatException e)
            {
                Console.WriteLine(e.Message);
            }

            returnUrl = returnUrl;

            var tCase = await hService.GetCaseNoTracking(caseId);
            if (tCase == null)
            {
                // didn't find it, should flag for error
                return;
            }
            pCase = CaseViewModel.FromEntity(tCase);
            pCase.Comments = await hService.GetCommentsNoTracking(caseId);

            pCase.imgUrl = tCase.imgUrl;
            //deserialize
            if (!string.IsNullOrWhiteSpace(@pCase.imgUrl))
            {
                imgUrls = @pCase.imgUrl.Split(' ');
            }


            if (tCase.UserId == userId)
            {
                isOwner = true;
            }

            dataReady = true;
            StateHasChanged();
        }
        else
        {
            // shouldn't get here
        }


    }

    private async Task viewPage(int id)
    {
        NavigationManager.NavigateTo("/PersonalPage/" + id);
    }


    private async Task searchCasesContainTag(string tag)
    {
        NavigationManager.NavigateTo("/tagsearch/" + caseId + "/" + tag);
    }

    private async Task ToggleTab(int tab)
    {
        activeTab = tab;
        StateHasChanged();
    }
}
